/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
    --background-color: #444344;
    --primary-color: #7fc05c;
    --secondary-color: #f0f0f0;
    --dark-green: #a1c07f;
    --dark-grey: #2e2e2e;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--dark-grey);
    border-radius: 12px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
    -webkit-box-shadow: 10px 5px 5px var(--dark-grey);
    box-shadow: 10px 5px 5px var(--dark-grey);
    width: 80%;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    max-width: 90%;
    margin: 0 auto;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70px;
    flex: 0 1 70px;
}

.main-navigation {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
    right: 0;
    font-size: 24px;
}

.navigation-list {
    list-style-type: none;
    margin: 12px;
}

.navigation-list li {
    display: inline-block;
}

.profile {
    max-width: 80%;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 100%;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
}

.contact-info {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--dark-grey);
    border-radius: 12px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 10px 5px 5px var(--primary-color);
    box-shadow: 10px 5px 5px var(--primary-color);
    max-width: 80%;
    max-width: 480px;
    margin: 20px auto;
    text-align: center;
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        width: 80%;
        margin: 0 auto;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .project-item {
        background-color: var(--secondary-color);
        color: var(--dark-grey);
        border-radius: 12px;
        padding: 3px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-shadow: 10px 5px 5px var(--primary-color);
        box-shadow: 10px 5px 5px var(--primary-color);
        text-align: center;
        opacity: 0.8;
        -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
        transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    }
}

/* Link styles */
a {
    color: var(--primary-color);
    text-decoration: underline;
}

a:visited {
    color: var(--dark-green);
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    color: var(--dark-grey);
}

/* Button styles */
input[type=submit],
.button {
    border: none;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    display: inline-block;
}

input[type=submit]:hover,
input[type=submit]:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 60% */
    opacity: 0.6;
}

/* Link styles for buttons */
a.button {
    color: var(--secondary-color);
    text-decoration: underline;
}

a:visited.button {
    color: var(--dark-grey);
}

a:hover.button,
a:focus.button {
    text-decoration: none;
}

a:active.button {
    color: var(--dark-grey);
}

.project-item:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@-webkit-keyframes color-change {
    0% {
        fill: #f76414;
    }

    25% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    75% {
        fill: #edc655;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #f76414;
    }

    25% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    75% {
        fill: #edc655;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 5s color-change infinite alternate linear;
    animation: 5s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(746px, 118px);
        transform: translate(746px, 118px);
    }

    to {
        -webkit-transform: translate(0px, 118px);
        transform: translate(0px, 118px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(746px, 118px);
        transform: translate(746px, 118px);
    }

    to {
        -webkit-transform: translate(0px, 118px);
        transform: translate(0px, 118px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse linear;
    animation: 34s cloud-move-reverse linear;
}

@-webkit-keyframes ferry-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ferry-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ferry-wheel {
    -webkit-animation: 30s ferry-rotate infinite linear;
    animation: 30s ferry-rotate infinite linear;
    -webkit-transform-origin: 149.429px 258px;
    transform-origin: 149.429px 258px;
}

table {
    /* Centers the table on the page */
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    /* Separates the data from each other for better visibility */
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    ul {
        -webkit-padding-start: 10px;
        padding-inline-start: 10px;
    }

    /* Hide name part of the logo as it overflows the screen */
    #logo-name {
        display: none;
    }

    img {
        max-width: 80px;
    }

    .button {
        font-size: 16px;
        padding: 5px;
        border-radius: 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navigation-list__item {
        font-size: 16px;
        padding: 3px;
        margin: 3px;
    }

    .profile__portrait {
        max-width: 150px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    #logo-name {
        display: none;
    }

    .profile__portrait {
        max-width: 150px;
    }

    .button {
        padding: 6px;
        border-radius: 8px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
    }
}